.form-control {
  @apply w-full px-4 py-2 border border-gray-300  bg-opacity-50 outline-none  text-gray300 mt-2 rounded-lg focus:border-primary;
}

.form-control-sm {
  @apply w-full bg-[#111827] border border-gray-800  bg-opacity-50 outline-none px-5 py-3  text-white mt-2 rounded-lg;
}

.form-group-icon {
  @apply w-full bg-[#111827] border border-gray-800 bg-opacity-50 px-5 py-2 md:px-10 md:py-5 text-white mt-5 rounded-lg flex items-center justify-between;
}

.form-control-icon {
  @apply w-full bg-transparent outline-none;
}

.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1.2rem;
  width: 1.2rem;
  background-color: transparent;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 4px;
  @apply text-blue-500;
}

.form-checkbox:hover {
  @apply border border-blue-500;
}

input[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
